/* Start Global Styles */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: monospace; */
} 
html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu Mono", monospace;
}

/* This is the h1 for the logo */
h1 {
  font-size: 2.6rem;
}
/* End of log */

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  padding: 4rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 2.8rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  /* margin: 20rem; */
  padding: 1rem 2rem;
  background: none;
  border: 0.2rem solid #060d17;
  color: white;
  font-size: 1.5rem;
  border-radius: 1.3rem;
  transition-property: background-color;
  transition-duration: 3s;
}

button:hover {
  background-color: fuchsia;
}
/* End Global Styles */

/* header */
.main-header {
  background: #131c27;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 3;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("/img/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/* Locations Section */

#locations {
  min-height: 100vh;
  /* color: white; */
  background: linear-gradient(rgb(0, 0, 0.7), transparent),
    url(/img/new-york-page.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.locations-header {
  width: 90%;
  margin: auto;
}
.locations-header h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}
.locations-header h3 {
  padding: 4rem 0rem;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  pointer-events: none;
}

.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-out;
  opacity: 0.5;
}

.moving-cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation 3.5s infinite alternate ease-out;
}

/* Animation Section */
@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
/* @keyframes cloudAnimation {
  0% {
  }
  25% {
  }
  50% {
  }
  75% {
  }
  100% {
  }
} */

/* Benefits Section */
.benefits-header {
  background: #060d17;
  /* background: #343c44; */
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.1), 0px 20px 20px rgb(0, 0, 0, 0.1);
}

.cards img {
  max-width: 15%;
  margin: 2rem;
}

.card h4,
p {
  padding: 2rem;
  line-height: 1.4;
}

.card-icon {
  background: #242424;
}

/* Contact Us Section */

#contact {
  min-height: 100vh;
  background: linear-gradient(rgb(0, 0, 0.5), transparent),
    url(/img/contact-mountain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.7);
  width: 60%;
  color: white;
  border-radius: 10px;
}

.form-header {
  text-align: center;
  padding: 4rem;
}

.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}

.form-wrapper label {
  margin: 0rem 3rem;
}

.form-wrapper button {
  width: 100%;
  margin-top: 8rem;
  border: none;
}

.form-wrapper input {
  padding: 1rem 3rem;
  border-radius: 10px;
}

textarea {
  margin: 3rem 39rem 3rem 39rem;
  border-radius: 10px;
}

/* Footer Section */

footer {
  color: white;
  background: #242424;
}

.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}

footer h5 {
  flex: 1 1 40rem;
}

footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

/* This is for people who are not using a mouse */
/* button:focus {
  background: fuchsia;
  outline-style: solid;
} */

/* Media Query Section */
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
  }
  cloud {
    height: 40rem;
  }
  .moving-cloud-1 {
    z-index: -1;
  }
  .moving-cloud-2 {
    z-index: -2;
  }
  .locations-header {
    background: rgba(19, 28, 39, 0.8);
    -webkit-text-fill-color: white;
  }
  .form-wrapper {
    width: 100%;
  }
  footer {
    text-align: center;
  }
  footer h5 {
    padding-bottom: 2rem;
  }
}
